@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar utility */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}




@media screen and (min-width: 1438px) and (max-width: 1441px) {
    .pad{
        padding-top: 10px;
    }
}
